.checkboxIcon {
    width: 16px;
    height: 16px;
    border: 1px solid var(--botticelli);
    border-radius: 4px;
    transition: background-color 150ms linear;

    :global(.PrivateSwitchBase-input):disabled + & {
        background-color: var(--background-primary);
    }

    :global(.PrivateSwitchBase-input):disabled:checked + & {
        background-color: var(--botticelli);
        border-color: var(--botticelli);
    }
}

.checkboxIconChecked {
    position: relative;
    background-color: var(--background-secondary);
    border-color: var(--background-secondary);

    :global(.MuiSvgIcon-root) {
        position: absolute;
        width: 100%;
        height: 100%;
        color: var(--white);
        transition: 1s;
    }
}
