.container {
    flex-flow: row nowrap;
    gap: 42px;
    margin-bottom: var(--tabs-container-margin-bottom);
}

.textInfo {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 300px;
}

.layoutEmployer {
    display: flex;
    flex-direction: column;
}

.companyLogo {
    width: 130px;
    height: 130px;
}

.layoutEmployer .companyLogo {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

.employerDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (width >= 1250px) {
    .layoutEmployer {
        width: 100%;
    }

    .employerCard {
        display: flex;
        flex-grow: 1;
        width: 100%;
    }

    .employerCard .companyLogo {
        margin-right: 50px;
    }

    .employerDetails {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "company position"
            "website location"
            "linkin ."
            "description description";
        grid-auto-rows: 40px;
        flex: 1;

        & .position {
            grid-area: position;
        }

        & .companyName {
            grid-area: company;
        }

        & .website {
            grid-area: website;
        }

        & .location {
            grid-area: location;
        }

        & .description {
            grid-area: description;
        }

        & .employerLinkedIn {
            grid-area: linkin;
        }
    }
}

.row {
    flex-direction: row;
    gap: 20px;

    & .name {
        flex: 1 0 auto;
        width: 40%;
        max-width: 130px;
        max-height: fit-content;
    }

    & .value {
        flex: 1 0 auto;
        width: 42%;
        color: var(--slate-gray);
        font-style: normal;
        white-space: pre-line;
    }

    & .valueLink {
        align-items: flex-start;
        width: auto;
        color: var(--st-tropaz);
        font-weight: 500;
        font-size: 13px;
        font-style: italic;
        text-decoration-line: underline;
    }
}

.labelsInfo {
    align-items: center;
    gap: 29px;
    max-width: calc(var(--wide-screens-container-max-width) - 200px);
}

.bsaBadges {
    gap: 15px 9px;
}

.hardSkills {
    flex: 0 0 auto;
    gap: 12px 4px;

    & .chip {
        margin: 0;
    }
}

.title {
    width: 100%;
}

@media screen and (width <=1100px) {
    .row {
        & .name {
            width: 100%;
            max-width: 100%;
        }

        & .valueLink {
            width: 100%;
        }
    }
}
