.formFilter {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
}

.label {
    margin-bottom: 5px;
    color: var(--text-primary-dark);
    font-size: var(--font-size-base);
    line-height: var(--line-height-main);

    .requiredField {
        color: var(--st-tropaz);
    }

    .Mui-focused {
        color: var(--text-primary-dark);
    }
}

.hasError {
    margin-left: 0;
    color: var(--error-primary);
}

.chips {
    margin-top: 13px;

    &:empty {
        display: none;
    }
}

.input {
    width: 100%;
    height: 18px;
    padding: 10px 5px;
    color: var(--text-primary-dark);
    font-size: var(--font-size-base);
    border: none;

    &::placeholder {
        color: var(--text-primary);
        font-size: var(--font-size-base);
        -webkit-text-fill-color: var(--text-primary);
    }
}

.inputRoot {
    width: 100%;
    height: 38px;
    font-size: var(--font-size-base);
    background: var(--white);
    border: none;

    & fieldset {
        border: none;
    }
}

.inputWrapper {
    width: 100%;
    min-height: 38px;
    padding-left: 0;
    overflow: hidden;
    border: 1px solid var(--botticelli);
    transition: border 200ms;

    &:hover {
        border-color: var(--st-tropaz);
    }

    &:focus-within {
        border-color: var(--st-tropaz);
    }
}
