.title {
    margin-right: 10px;
    font-weight: var(--font-weight-medium);
}

.summaryText {
    margin-block: 10px;
    color: var(--text-primary);
    white-space: pre-wrap;
}

.cardSummaryText {
    margin-inline: -35px;
    padding-inline: 35px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--botticelli);
}

.readMoreButton {
    margin-top: 7px;
    padding: 0;
    color: var(--st-tropaz);
    font-size: var(--font-size-body);
    font-style: italic;
    text-transform: none;
}
