:root {
    --step-width: 328px;
}

.header {
    display: flex;
    padding-block: 20px;
    margin-bottom: 47px;
    padding-left: 50px;
    border-bottom: 1px solid var(--solitude);
}

.careerWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;
}

.career {
    display: flex;
    padding-left: 50px;

    &Title {
        margin: 0;
        color: var(--st-tropaz);
        font-weight: var(--font-weight-medium);
        font-size: 32px;
        line-height: 43px;
    }

    &Description {
        max-width: 343px;
        margin: 15px 60px 40px 0;
        color: var(--text-secondary);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-h5);
        line-height: var(--line-height-h5-h6);
    }
}

.registration {
    display: flex;
    width: 865px;
    min-height: 880px;
    margin-right: 50px;
    margin-bottom: 72px;
    background-color: var(--white);
    border: 1px solid var(--botticelli);
    border-radius: 8px;
}

.icon {
    margin-bottom: 20px;
}

@media screen and (width <=660px) {
    .registration {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .career {
        width: 100%;
        padding: 0;
    }

    .header {
        margin-bottom: 10px;
        padding-left: 10px;
        font-size: var(--font-size-h5);
    }

    .careerContent {
        padding-left: 10px;
    }
}
