.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(min(10vh, 228px));
    margin-bottom: calc(min(10vh, 228px));
}

.header {
    width: 100%;
    max-width: 420px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h4);
    font-family: var(--font-family);
    line-height: var(--line-height-main);
    text-align: center;
}

.inputContainer {
    width: 100%;

    &.email {
        margin-bottom: 25px;
    }

    &.password {
        margin-bottom: 8px;
    }
}

.label {
    margin-bottom: 5px;
    color: var(--text-primary-dark);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    font-family: var(--font-family);
}

.btn {
    width: 100%;
    max-width: 420px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body);
    font-family: var(--font-family);
    text-transform: unset;
    background-color: var(--background-secondary);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: 48px;
    font-family: var(--font-family);
    line-height: var(--line-height-btn);
    text-align: center;
    column-gap: 18px;

    & .span {
        display: inline-block;
        width: max-content;
        margin: 0 auto;
        color: var(--gray-2);
        font-weight: var(--font-weight-regulars);
    }

    & .cta {
        display: unset;
        width: unset;
        color: var(--st-tropaz);
        font-weight: var(--font-weight-semi-bold);
    }
}

@media screen and (width >= 900px) {
    .footer {
        flex-direction: row;
        text-align: unset;
    }

    .footer .span {
        margin: unset;
    }
}
