:global(.MuiTable-root) {
    padding: 10px;
}

.table :global(.MuiTableCell-root) {
    margin: 10px;
    text-align: center;
    border-radius: 5%;
}

.table :global(.MuiTableRow-root) {
    padding: 5px;
    border-color: var(--st-tropaz);
}

.tableHead :global(.MuiTableCell-root) {
    text-align: center;
    background-color: var(--white-lilac);
}
