.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 24px;
    overflow: hidden;
    border-bottom: 1px solid var(--botticelli);
}

.logo {
    margin-right: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;

    .title {
        min-width: calc(
            100% - var(--button-group-width)
        ); /* related to .truncate */

        margin: 0;
        overflow: hidden;
        color: var(--text-primary-dark);
        font-weight: var(--font-weight-semi-bold);
        font-size: 20px;
        line-height: 25px;
    }
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;

    .textStatus {
        margin: 0;
        color: var(--text-primary-dark);
        font-weight: var(--font-weight-semi-bold);
        font-size: var(--font-size-caption);
        line-height: 18px;
        opacity: 0.6;
    }
}

.icon {
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border: none;
    border-radius: 5px;

    &.online {
        background-color: var(--mountain-meadow);
    }

    &.offline {
        background-color: var(--nepal);
    }
}

.truncate {
    width: 120px;
    min-width: 65%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.candidateLink {
    display: unset;
    color: var(--text-primary-dark);

    &:visited {
        color: var(--text-primary-dark);
    }
}
