.search {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: var(--search-bar-height);
    margin: 0 16px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background-color: var(--white-lilac);
    border-radius: 12px;
}

.search::placeholder {
    color: var(--steel-gray);
    opacity: 0.4;
}

.search:hover,
.search:focus {
    outline: 2px solid var(--st-tropaz);
}
