:root {
    --filters-sidebar-width: 429px;
}

.searchPageWrapper {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - var(--header-height));
}

.pageTitle {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h4);
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px 50px 0;
}

.searchFilterWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filters {
    display: flex;
    flex-direction: column;
    width: var(--filters-sidebar-width);
    min-width: var(--filters-sidebar-width);
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) transparent;
    background-color: var(--white);
}

.filtersButton {
    display: none;
    text-transform: none;
    border: none;
    border-radius: 100px;
    box-shadow: none;
}

.showResultsButton {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.filtersButtonActive {
    color: var(--white);
    background: var(--st-tropaz);

    &:hover {
        color: var(--st-tropaz);
        background: var(--white);
    }
}

.filtersButtonNotActive {
    color: var(--st-tropaz);
    background: var(--white);

    &:hover {
        color: var(--white);
        background: var(--st-tropaz);
    }
}

.optionsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    :global(.MuiFormControl-root) {
        width: 220px;
        background-color: var(--white);
    }
}

.searchResults {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    padding: 0 0 15px;
}

.scroll {
    overflow: hidden scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) transparent;
}

.noResultsText {
    margin: auto;
    text-align: center;
}

@media screen and (width <=1120px) {
    .optionsWrapper {
        flex-direction: column;
        margin-bottom: 15px;
    }
}

@media screen and (width <=1000px) {
    .searchPageWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .mainContent {
        height: auto;
        padding: 0;
    }

    .filters {
        display: none;
    }

    .filtersActive {
        display: flex;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .searchResults {
        min-height: 100%;
        overflow: unset;
    }

    .searchResultsHidden {
        display: none;
    }

    .filtersButton {
        display: flex;
    }

    .optionsWrapper {
        flex-direction: column;
    }
}
